<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="layoutStr"
            value="${processid}|${appdomain:format=short}|${longdate}&lt;${uppercase:${level}}&gt;${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}}"/>
  
  <targets>
    <target xsi:type="File" name="fileTarget" fileName="${basedir}/logs/${logger}${level} ${shortdate}.log" maxArchiveFiles="50"
             layout="${layoutStr}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileTarget" />
  </rules>
</nlog>